<div>
  <app-restaurant-ranking
    [restaurants$]="restaurants$"
  ></app-restaurant-ranking>
</div>
<mat-card *ngIf="!(restaurants$ | async)"><mat-spinner></mat-spinner></mat-card>

<mat-card *ngFor="let resto of restaurants$ | async">
  <mat-card-title>{{ resto.name }}</mat-card-title>
  <mat-card-subtitle
    >Added : {{ resto.createdAt | date: "dd/MM/yyyy" }}</mat-card-subtitle
  >
  <mat-card-actions>
    <button
      mat-mini-fab
      color="primary"
      aria-label="plus one icon"
      (click)="vote(resto)"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      aria-label="plus one icon"
      [disabled]="resto.votes === 0"
      (click)="unVote(resto)"
    >
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
